# IntelliJ project files
*.iml
/.idea/**
!/.idea/codeStyles/
!/.idea/codeStyles/**
!/.idea/inspectionProfiles/
!/.idea/inspectionProfiles/**
!/.idea/.gitignore
!/.idea/compiler.xml
!/.idea/kotlinc.xml

# Gradle exclude paths
/.gradle/
build/
.dependency-mapper/
local.properties